.bk{
    background-image: url("server2.jpg");
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.4) url("server2.jpg");
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    margin:0 auto;
    display:flex;
    flex-direction:column; 
    justify-content:center;
}

/* .topic{

    margin-bottom: 40px;
    font-size: 60px;s
    font-weight: 800;
    color: rgb(235, 14, 14);
    text-align: center;  
 } */
 .abb{
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #18e798 0%,
        #f70b03 29%,
        #f80254 67%,
        #3108e6 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color:transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    font-size: 60px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 40px;
        /* font-size: 6rem; */
}

@keyframes textclip{
    to{
        background-position: 100% center;
        /* animation: textclip 4s linear infinite; */
    }
    
}



.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}

.container ul{
    padding: 0px;
    margin: 0px;
}


/* .container ul li{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background-color: rgba(252, 253, 252, 0.8);
    margin :20px 0px 20px 55px; 
    border:2px solid blue;
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgb(136, 135, 135);
    border-radius: 20px;
} */

.l01,.l02,.l03,.l04,.l05,.l06, .l07, .l08, .l09,.l10,.l11,.l12,.l13,.l14{
    float:left;
    list-style: none;
    width:25%;
    height:250px;
    background-color: rgba(252, 253, 252, 0.8);
    margin :20px 0px 20px 55px; 
    /* border:2px solid blue; */
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgb(136, 135, 135);
    border-radius: 20px;
    transition: 1s;
}


.container ul li:hover{
    opacity: 0.8;
    background-color: rgb(61, 245, 70);
    transform: scale(1.1);
    z-index: 2;
}

.container ul li .bottom{
    width: 100%;
    height:50px;
    line-height: 50px;
    /* background: blue;    */
    text-align: center;
    /* color:rgb(252, 9, 9); */
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
   
}

.suu{
    visibility: visible;
}


.u1,.u2,.u3,.u4,.u5,.u6,.u7,.u8,.u9,.u10,.u11,.u12,.u13,.u14{
    color: rgb(238, 13, 13);
    text-decoration: none;
}

.u1:hover{
    color: rgb(54, 1, 247);
}
.u2:hover{
    color: rgb(54, 1, 247);
}
.u3:hover{
    color: rgb(54, 1, 247);
}
.u4:hover{
    color: rgb(54, 1, 247);
}
.u5:hover{
    color: rgb(54, 1, 247);
}
.u6:hover{
    color: rgb(54, 1, 247);
}
.u7:hover{
    color: rgb(54, 1, 247);
}
.u8:hover{
    color: rgb(54, 1, 247);
}
.u9:hover{
    color: rgb(54, 1, 247);
}
.u10:hover{
    color: rgb(54, 1, 247);
}
.u11:hover{
    color: rgb(54, 1, 247);
}
.u12:hover{
    color: rgb(54, 1, 247);
}
.u13:hover{
    color: rgb(54, 1, 247);
}
.u14:hover{
    color: rgb(54, 1, 247);
}



.uddd{
    color: blue;
}

.ulul{
    background-color: rgb(6, 245, 38);
    pointer-events: none;
    opacity: 0.5;
}

.button1{
    margin-top: 70px;
    margin-left: 85px;
    margin-bottom: 30px;
    width: 80%;
    padding: 20px;
    font-weight: bold;
    color: blue;
    font-size: 40px;
    border-radius: 40px;
    box-shadow: 20px 20px 20px rgb(99, 61, 240);
    transition: 1s;

}

.button1:hover{
    background-color: rgb(72, 72, 235);
    color: black;
    transform: scale(1.1);
    z-index: 2;
}

@media only screen and (max-width:1000px){
    .container ul li{
        width:40%;
        margin-left: 40px;
         
    }

}

@media only screen and (min-width:1000px){
    .button{
        margin-left: 80px;
        width: 25%;
        /* padding: 1px; */

    }

}