.bk{
    background-image: url("server2.jpg");
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.4) url("server2.jpg");
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    margin:0 auto;
    display:flex;
    flex-direction:column; 
    justify-content:center;
}

.topic{

    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 800;
    color: rgb(235, 14, 14);
    text-align: center;  
 
 }
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}

.container ul{
    padding: 0px;
    margin: 0px;
}


/* .container ul li{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background-color: rgba(252, 253, 252, 0.8);
    margin :20px 0px 20px 55px; 
    border:2px solid blue;
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgb(136, 135, 135);
    border-radius: 20px;
} */

.l01{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background-color: rgba(252, 253, 252, 0.8);
    margin :20px 0px 20px 55px; 
    /* border:2px solid blue; */
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgb(136, 135, 135);
    border-radius: 20px;
    transition: 1s;
}
.l02{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background-color: rgba(252, 253, 252, 0.8);
    margin :20px 0px 20px 55px; 
    /* border:2px solid blue; */
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgb(136, 135, 135);
    border-radius: 20px;
    transition: 1s;
}
.l03{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background-color: rgba(252, 253, 252, 0.8);
    margin :20px 0px 20px 55px; 
    /* border:2px solid blue; */
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgb(136, 135, 135);
    border-radius: 20px;
    transition: 1s;
    pointer-events: none;
    opacity: 0.5;
}
.l04{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background-color: rgba(252, 253, 252, 0.8);
    margin :20px 0px 20px 55px; 
    /* border:2px solid blue; */
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgb(136, 135, 135);
    border-radius: 20px;
    transition: 1s;
}
.l05{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background-color: rgba(252, 253, 252, 0.8);
    margin :20px 0px 20px 55px; 
    /* border:2px solid blue; */
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgb(136, 135, 135);
    border-radius: 20px;
    transition: 1s;
}
.l06{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background-color: rgba(252, 253, 252, 0.8);
    margin :20px 0px 20px 55px; 
    /* border:2px solid blue; */
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgb(136, 135, 135);
    border-radius: 20px;
    transition: 1s;
}
.l07{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background-color: rgba(252, 253, 252, 0.8);
    margin :20px 0px 20px 55px; 
    /* border:2px solid blue; */
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgb(136, 135, 135);
    border-radius: 20px;
    transition: 1s;
}
.l08{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background-color: rgba(252, 253, 252, 0.8);
    margin :20px 0px 20px 55px; 
    /* border:2px solid blue; */
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgb(136, 135, 135);
    border-radius: 20px;
    transition: 1s;
}
.l09{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background-color: rgba(252, 253, 252, 0.8);
    margin :20px 0px 20px 55px; 
    /* border:2px solid blue; */
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgb(136, 135, 135);
    border-radius: 20px;
    transition: 1s;
}
.l10{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background-color: rgba(252, 253, 252, 0.8);
    margin :20px 0px 20px 55px; 
    /* border:2px solid blue; */
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgb(136, 135, 135);
    border-radius: 20px;
    transition: 1s;
}


.container ul li:hover{
    opacity: 0.8;
    background-color: rgb(61, 245, 70);
    transform: scale(1.1);
    z-index: 2;
}

.container ul li .bottom{
    width: 100%;
    height:50px;
    line-height: 50px;
    /* background: blue;    */
    text-align: center;
    /* color:rgb(252, 9, 9); */
    font-size: 40px;
    margin-top: 120px;
    font-weight: bold;
   
}

.su1{
    font-weight: bold;
    color: rgb(252, 6, 6);
    font-size: large;
    margin-top: -150px;
    text-align: center;
    font-size: 40px;
    visibility: hidden;
}
.su2{
    font-weight: bold;
    color: rgb(252, 6, 6);
    font-size: large;
    margin-top: -150px;
    text-align: center;
    font-size: 40px;
    visibility: hidden;
}
.su3{
    font-weight: bold;
    /*color: rgb(252, 6, 6);*/
    color: rgb(5, 5, 5);
    font-size: large;
    margin-top: -150px;
    text-align: center;
    font-size: 40px;
    /*visibility: hidden;*/
    visibility: visible;
}
.su4{
    font-weight: bold;
    color: rgb(252, 6, 6);
    font-size: large;
    margin-top: -150px;
    text-align: center;
    font-size: 40px;
    visibility: hidden;
}
.su5{
    font-weight: bold;
    color: rgb(252, 6, 6);
    font-size: large;
    margin-top: -150px;
    text-align: center;
    font-size: 40px;
    visibility: hidden;
}
.su6{
    font-weight: bold;
    color: rgb(252, 6, 6);
    font-size: large;
    margin-top: -150px;
    text-align: center;
    font-size: 40px;
    visibility: hidden;
}
.su7{
    font-weight: bold;
    color: rgb(252, 6, 6);
    font-size: large;
    margin-top: -150px;
    text-align: center;
    font-size: 40px;
    visibility: hidden;
}
/* .su8{
    font-weight: bold;
    color: rgb(252, 6, 6);
    font-size: large;
    margin-top: -150px;
    text-align: center;
    font-size: 40px;
    visibility: hidden;
}
.su9{
    font-weight: bold;
    color: rgb(252, 6, 6);
    font-size: large;
    margin-top: -150px;
    text-align: center;
    font-size: 40px;
    visibility: hidden;
}
.su10{
    font-weight: bold;
    color: rgb(252, 6, 6);
    font-size: large;
    margin-top: -150px;
    text-align: center;
    font-size: 40px;
    visibility: hidden;
} */
.suu{
    visibility: visible;
}


.u1{
    color: rgb(238, 13, 13);
    text-decoration: none;
}
.u2{
    color: rgb(238, 13, 13);
    text-decoration: none;
}
.u3{
    color: rgb(238, 13, 13);
    text-decoration: none;
}
.u4{
    color: rgb(238, 13, 13);
    text-decoration: none;
}
.u5{
    color: rgb(238, 13, 13);
    text-decoration: none;
}
.u6{
    color: rgb(238, 13, 13);
    text-decoration: none;
}
.u7{
    color: rgb(238, 13, 13);
    text-decoration: none;
}
/* .u8{
    color: rgb(238, 13, 13);
    text-decoration: none;
}
.u9{
    color: rgb(238, 13, 13);
    text-decoration: none;
}
.u10{
    color: rgb(238, 13, 13);
    text-decoration: none;
} */

.u1:hover{
    color: rgb(54, 1, 247);
}
.u2:hover{
    color: rgb(54, 1, 247);
}
.u3:hover{
    color: rgb(54, 1, 247);
}
.u4:hover{
    color: rgb(54, 1, 247);
}
.u5:hover{
    color: rgb(54, 1, 247);
}
.u6:hover{
    color: rgb(54, 1, 247);
}
.u7:hover{
    color: rgb(54, 1, 247);
}
/* .u8:hover{
    color: rgb(54, 1, 247);
}
.u9:hover{
    color: rgb(54, 1, 247);
}
.u10:hover{
    color: rgb(54, 1, 247);
} */


.uddd{
    color: blue;
}

.ulul{
    background-color: rgb(6, 245, 38);
    pointer-events: none;
    opacity: 0.5;
}

.button1{
    margin-top: 70px;
    margin-left: 85px;
    margin-bottom: 30px;
    width: 80%;
    padding: 20px;
    font-weight: bold;
    color: blue;
    font-size: 40px;
    border-radius: 40px;
    box-shadow: 20px 20px 20px rgb(99, 61, 240);
    transition: 1s;

}

.button1:hover{
    background-color: rgb(72, 72, 235);
    color: black;
    transform: scale(1.1);
    z-index: 2;
}

@media only screen and (max-width:1000px){
    .container ul li{
        width:40%;
        margin-left: 40px;
         
    }

}

@media only screen and (min-width:1000px){
    .button{
        margin-left: 60px;
        width: 20%;
        padding: 5px;

    }

}